.footer {
    width: 100%;
    background: var(--gradient2);
    color: #eee;
    padding: 1rem;
}

.footer .container {
    max-width: 1240px;
    margin: auto;
    text-align: center;
}

.footer ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* Allows the items to wrap on smaller screens */
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.footer li {
    padding: 1rem;
}

.footer li a {
    color: #fff;
    text-decoration: none;
    /* Ensure links have no underline */
}

.footer li a:hover {
    padding-bottom: 12px;
    border-bottom: 3px solid var(--primary-color);
}

.bottom {
    text-align: center;
    padding-top: 3rem;
}

.line {
    margin-bottom: 1rem;
}

/* Media query for small screens */
@media (max-width: 768px) {
    .footer ul {
        flex-direction: row;
        /* Ensure items remain in a row */
        justify-content: space-between;
        /* Spread items out evenly */
    }

    .footer li {
        padding: 0.5rem;
        text-align: center;
    }
}